<div class="cover-photo">
  <%= image_tag("slider1.jpg", :height=> "100%", :width=> "100%", class: 'cover-photo') %>
  <div class="cover-text">Find the best coffee.</div>
</div>


<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1 class='place-title'><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />


    <% if place.photos.present? %>
      <%= image_tag(place.photos.last.picture, :height=> "100%", :width=> "100%", class: 'index-pictures') %>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>

    <div class="clear"></div>
    <br />

    <% if place.user.present? %>
      <div class="row">
         <div class="pull-left icon-row"> 
            <%= image_tag 'user.png', class: 'user-icon' %>
          </div>
          <div class='pull-right username'>
            <%= place.user.username %>
          </div>
      </div>
    <% end %>
  </div>
<% end %>



<br />


<div class="digg_pagination">
  <%= will_paginate @products, previous_label: h("<"), next_label: h(">") %>
</div>


